# Keep this sorted for easy search.
# Keep versions pinned for testing reproducibility.
# Use stable tarball for classy_vision
classy-vision @ https://github.com/facebookresearch/ClassyVision/tarball/4785d5ee19d3bcedd5b28c1eb51ea1f59188b54d
cython==0.29.22
# Use stable fairscale version 0.4.6
fairscale==0.4.6
fvcore==0.1.3.post20210317
# Due to
# AttributeError: module 'importlib_resources' has no attribute 'is_resource'
# importlib_resources MUST stay pinned to 5.12.0
importlib_resources==5.12.0
iopath==0.1.9
hydra-core==1.0.7
mantik==0.3.1
matplotlib==3.6.3
# Use numpy 1.21.0 to fix ModuleNotFoundError: No module named 'numpy.core._multiarray_umath'
numpy==1.21.0
opencv-python==4.7.0.72
opentsne==1.0.0
parameterized==0.7.4
scikit-learn==0.24.1
submitit==1.3.3
tabulate==0.8.9
tensorboard==2.12.1
